body {
    background-color: rgb(0, 0, 0);
  }
  {
    background-color: rgb(27, 26, 26);
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 80%;
}

img {
    width: 35px;
    vertical-align: right;
    border-style: none;
    position: fixed;
    border-radius: 70%;
}

  
/* Styling the msg-header container */
.msg-header {
    border: 1px solid #cdcdcd;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #FF914C;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.msgimg {
    margin-left: 2%;
    float: left;
}
.container1 {
    width: 270px;
    height: auto; 
    float: left;
    margin: 0;
}

/* styling user-name */
.active {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;
}
/* Styling the chat box container */
.chat-page {
    padding: 0 0 50px 0;
}




.chats {
    padding: 30px 15px 0 25px;
}

/* Styling the message page */

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}
/* Styling the msg-bottom container */
.msg-bottom {
   
    position: relative;
    height: 11%;
    background-color: rgb(0, 0, 0);
}
.input-group {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 61% !important;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.275rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: b;
    line-height: 1.5;
    color: #8096ad;
    text-align: center;
    white-space: nowrap;
    background-color: #576677;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

.send-icon {
    font-weight: bold !important;
}
/* Styling the avatar  */
received-chats-img {
    display: inline-block;
    width: 15px;
    float: left;
}

.received-msg {
    display: inline-block;
    padding:   0 10px;
    vertical-align: bottom;
    width: 93%;
}
.received-msg-inbox {
    width: 
    57%;
}

.received-msg-inbox p {
    background: #e9e5e5 none repeat scroll 0 0;
    background-image:  color: #ffffff;
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
    padding: 5px 10px 5px 12px;
    margin-left: 2rem;
    width: 79%;
    padding: 1rem;
    box-shadow: rgba(158, 152, 152, 0.25) 0px 5px 5px 2px;
}
    p {
    overflow-wrap: break-word;
}

/* Styling the msg-sent time  */
.time {
    color: #ffffff;
    display: block;
    font-size: 10px;
    margin: 19px ;
}
.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #FF914C;
    background-image:  color: #ffffff;
    border-radius: 10px;
    font-size: 14px;
    color: #000000;
    padding: 5px 10px 5px 12px;
    margin-left: -2rem;
    width: 75%;
    padding: 1rem;
    box-shadow: rgba(158, 152, 152, 0.25) 0px 5px 5px 2px;
}
.outgoing-chats-msg {
        float: right;
        width:
         57%;
    }

/* Styling the avatar */
.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
}

@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 50px) {
    *,
    .time {
        font-size: 28px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-chats-msg p {
        font-size: 28px;
    }
}
/* Styling the input field */
.input-group {
    float: right;
    margin-top: 1px;
    margin-right: 0px;
    outline: none !important;
    border-radius: 20px;
    width: 95% !important;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.send-button {
    background-color: #a0a0a0;
    color: #ffffff;
    padding: 50px 100px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
  }


.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 14%;
    margin-bottom: 0;
}

.form-control {
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fafafa;
    background-color: #704327;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.send-button {
    background-color: #c15a11;
    color: #e8d908;
    padding: 5px 10px;
    border: orangered;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 10px;
  }
  .sender-message {
    align-self: flex-end;
  }
.uname{
    padding-left: 50;
}
